#head_box {
    height:60px;
}
#information{
    width:90%;
    margin:0 auto;
    display:block;
}

@media screen and (max-width:1200px) {
    #information{
        width:1200px;
    }
}
#information blockquote h1{
    margin-top:20px;
    padding-left:10px;
    letter-spacing: 2px;
    font-weight: 300;
    border-left:3px solid #E0244D;
}
#news{
    width:100%;
    display:block;
    margin:20px auto;
}
.news-item{
    position:relative;
    display:inline-block;
    width:500px;
    height:200px;
    background-color:#F6F6F6;
    margin:5px;
    overflow: hidden;
    transition:all 0.5s;
}
.news-item:hover{
    box-shadow:0 10px 10px #ccc;
}
.news-item img{
    display:block;
    width:250px;
    height:200px;
}
.news-item h3{
    width:150px;
    font-weight:400;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    position:absolute;
    left:260px;
    top:10px;
}
.news-item a{
    position:absolute;
    left:250px;
    top:30px;
    color:#666666;
    text-align: left;
    font-size:14px;
    margin:10px;
}
.news-item span{
    position:absolute;
    top:17px;
    right:10px;
    color:#666;
    font-size:13px;
}
