@CHARSET "UTF-8";
.loginBox{
	width:1200px;
	height:375px;
	margin:50px auto;
	position:relative;
	overflow:hidden;
}
.loginBox img{
	display:block;
	width:100%;
	height:100%;
	margin:0 auto;
}
.loginBox form{
	width:400px;
	height:350px;
	position:absolute;
	left:0;
	top:0;
	right:0;
	bottom:0;
	margin:auto;
	background-color:rgba(255,255,255,0.5);
}
.loginBox ul{
	margin-top:20px;
}
.loginBox li{
	position:relative;
	width:250px;
	height:60px;
	margin:0 auto;
}
.loginBox input{
	height:30px;
	width:200px;
	outline:none;
	margin-left:25px;
	box-sizing:border-box;
}
.loginBox li p{
	color:#FF404B;
	font-weight: 500;
	letter-spacing: 2px;
	width:200px;
	font-size:12px;
	margin-left:25px;
	display:block;
}
#userTitle{
	margin-left:0px;
	opacity:0;
}
.loginBox input[type='text'],.loginBox input[type='password']{
	border:1px solid #02B2B5;
	height:40px;
	padding-left:5px;
	transition:all 0.5s;
	border-radius:3px;
}
.loginBox input[type='text']:focus,.loginBox input[type='password']:focus{
	box-shadow:0 0 8px #02B2B5;
}
.loginBox input[type='submit']{
	background-color:#02B2B5;
	color:white;
	border:none;
}
#jcaptcha{
	display:inline-block;
	width:70px;
	margin-top:0;
	position:relative;
}
#CodeImage{
	position:absolute;
	display:inline-block;
	width:100px;
	height:38px;
	margin-left:27px;
}
#forget{
	display:block;
	position:absolute;
	font-size:12px;
	bottom:0;
	left:25px;
	color: #2c87ff;
}
#forget:hover{
	text-decoration:underline;
}
#forPass{
	display:none;
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	margin:auto;
	width:400px;
	height:300px;
	background-color:white;
	border-radius:5px;
}
#forPass > span{
	position:absolute;
	width:30px;
	height:30px;
	right:-20px;
	top:-20px;
	background-color:#F9424D;
	border-radius:100%;
}
#forPass > span:hover{
	cursor:pointer;
}
#forPass h3{
	margin-left:10px;
	margin-right:10px;
	margin-top:10px;
	border-radius:10px;
	background-color:#3399CC;
	color:white;
	font-weight:100;
	height:50px;
	line-height:50px;
	padding-left:10px;
}
#searchMail, #showMail, #sendMail{
	margin:10px;
	padding-left:90px;
}
#showMail{
	opacity: 0;
}
#forPassUname{
	color:#FF404B;
}
#sendMail input{
	height:30px;
	width:60px;
}
#sendMail button{
	height:32px;
}
#forPass > span i{
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	margin:auto;
	display:block;
	width:20px;
	height:5px;
	background-color:white;
}
#forPass > span i:first-child{
	transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
}
#forPass > span i:last-child{
	transform:rotate(-45deg);
	-webkit-transform:rotate(-45deg);
	-moz-transform:rotate(-45deg);
}