body, html{
    background-color:#EDEFF0;
}
#head_box{
    height:60px;
}
.aboutContent{
    position:relative;
    background-color:white;
    width:1000px;
	height:1200px;
    min-height:200px;
    margin:20px auto;
    box-shadow:0 3px 10px #ccc;
}
.leftNav{
	position:absolute;
    width:100px;
    left:-100px;
    overflow:hidden;
}
.leftNav span{
	display:block;
	width:95%;
	text-align:left;
	color:white;
	font-size:13px;
	border-radius:8px 0 0 8px;
	margin-top:10px;
	height:30px;
	line-height:30px;
	padding-left:5px;
	margin-left:20px;
	transition:all 0.5s;
	-webkit-transition:all 0.5s;
	-moz-transition:all 0.5s;
	-ms-transition:all 0.5s;
	box-shadow:0 5px 5px #ccc;
	user-select:none;
}
.leftNav li:nth-child(1) span{
	background-color:#CF4646;
}
.leftNav li:nth-child(2) span{
	background-color:#6AB5CF;
}
.leftNav li:nth-child(3) span{
	background-color:#41C4A4;
}
.leftNav li:nth-child(4) span{
	background-color:#FBB527;
}
.leftNav li:nth-child(5) span{
	background-color:#24282C;
}
.leftNav li:nth-child(6) span{
	background-color:#0366D6;
}
.leftNav span:hover{
	padding-left:15px;
	margin-left:0;
	cursor:pointer;
}
.leftNav li{
	position:relative;
}
.leftNav li:after{
	border-radius:100%;
	position:absolute;
	right:-1px;
	top:7px;
	display:block;
	content:"";
	width:1px;
	height:22px;
	box-shadow:0 0px 20px 5px #949494;
}
.aboutBox-1{
    width:100%;
}
.aboutBox{
    height:400px;
}
.aboutImg, .aboutTitle{
	float:left;
    position:relative;
    display:inline-block;
    width:490px;
}
.aboutImg{
	left:100px;
	top:20px;
}
.aboutTitle{
	padding-top:100px;
}
.aboutImg img{
	width:300px;
	height:350px;
}
.aboutTitle h1{
    font-weight:100;
    text-align:center;
}
.aboutTitle p{
    color:#999999;
    width:90%;
    margin:20px auto;
    text-align:justify;
}
.aboutBox-2,.aboutBox-3,.aboutBox-4,.aboutBox-5,.aboutBox-6{
	top:0;
	display:none;
	position:absolute;
	height:1200px;
	width:1000px;
}
.aboutBox-2 h1,.aboutBox-3 h1,.aboutBox-4 h1,.aboutBox-5 h1,.aboutBox-6 h1{
	text-align:center;
	color:#4a4a4a;
}
.Box2Img{
	margin:10px 40px;
	position:relative;
	height:500px;
}
.Box2Img img{
	display:block;
	width:100%;
	height:100%;
}
.Box2Img p{
	position:absolute;
	width:100%;
	height:50px;
	line-height:50px;
	bottom:0;
	text-align:center;
	color:white;
	background-color:rgba(0,0,0,0.5);
}
.Box2Img span{
	font-size:13px;
}