@CHARSET "UTF-8";
.personalMsg{
	width:1100px;
	min-height:300px;
	margin:0 auto;
	padding-top:80px;
	padding-bottom:20px;
	/*border:1px solid #ccc;*/
	/*border-radius:3px;*/
}
.personalMsg ul{
	width:800px;
	margin:0 auto;
}
.uploadBox{
	width:800px;
	margin:0 auto;
}
.uploadBox form{
	display:none;
}
.uploadBtns label{
	display:inline-block;
	width:80px;
	height:40px;
	line-height:40px;
	text-align:center;
	color:white;
	background-color:#3073AD;
	border-radius:3px;
}
.uploadBtns label:hover{
	cursor:pointer;
}
.startUpload{
	display:none;
	width:80px;
	height:40px;
	line-height:40px;
	text-align:center;
	color:white;
	background-color:#3073AD;
	border-radius:3px;
}
.startUpload:hover{
	cursor:pointer;
}
.onprogress{
	display:none;
	width:200px;
	height:10px;
	margin-top:10px;
	border:1px solid #02a9ac;
}
.onprogress-item{
	display: block;
	width:0px;
	height:10px;
	background-color: #02a9ac;
}
.personalMsg li{
	position:relative;
	border-bottom:1px solid #ccc;
}
.personalMsg li:last-child{
	border:none;
}
.personalMsg-title{
	display:inline-block;
	width:100px;
	height:50px;
	line-height:50px;
	text-align:left;
	font-size:16px;
	font-weight:bold;
}
.personalMsg-address{
	display:inline-block;
	width:400px;
	height:50px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	line-height:50px;
	text-align:right;
	color:#ccc;
	padding-right:10px;
	box-sizing:border-box;
	float:right;
}
.personalMsg-address:hover{
	cursor:pointer;
}
.addressItem{
	display:none;
	height:300px;
	right:0;
	border:1px solid #ccc;
	position:absolute;
	background-color:white;
	z-index:99;
}
.chooseAddress{
	position:absolute;
	display:block;
	width:100px;
	height:30px;
	color:white;
	background-color:#02B2B5;
	border:none;
	bottom:-31px;
	transition:all 0.3s;
}
.chooseAddress:hover{
	cursor:pointer;
	background-color: #02a9ac;
}
.address-item-city, .address-item-province, .address-item-area{
	display:inline-block;
	min-width:144px;
	max-height:300px;
	overflow-y: scroll;
	border-right:1px solid #ccc;
	box-sizing:border-box;
	float:right;
}
.address-item-province p:hover, .address-item-city p:hover, .address-item-area p:hover{
	cursor:pointer;
}
.cityOrAreaActive{
	background-color: #2c87ff;
	color:white;
}
.advCat,.advTime{
	position:absolute;
	right:10px;
	top:15px;
	height:30px;
	overflow:hidden;
	border:1px solid transparent;
	transition:all 0.3s;
	z-index:88;
}
.advTime{
	right:5px;
	z-index:80;
}
.advCat:hover,.advTime:hover{
	border:1px solid #ccc;
	box-shadow: 0 0 10px #ccc;
	background-color:white;
}
.advCat p,.advTime p{
	text-align:center;
	font-size:15px;
	display:block;
	height:30px;
	padding:0 3px;
	line-height:30px;
	transition:all 0.3s;
}
.advCat p:hover,.advTime p:hover{
	cursor:pointer;
	background-color: #2c87ff;
	color:white;
}
.unit,.district,.coutTime{
	position:absolute;
	right:15px;
	top:15px;
}
.coutTime{
	right:40px;
	top:16px;
}
.district{
	right:10px;
}
.unit input,.district input,.coutTime input{
	outline:none;
	display:inline-block;
	width:80px;
	height:30px;
	line-height:30px;
	font-size:16px;
	border:none;
	text-align:right;
	padding-right:3px;
}
.district input{
	width:200px;
}
.price,.allprice{
	display:block;
	position:absolute;
	right:17px;
	top:17px;
}
.allprice{
	color:#ff0000;
	font-size:18px;
}
.price span{
	font-weight:bold;
	color: #ff0000;
}
.videoBox{
	height:300px;
}
.videoPlay{
	display:block;
	width:400px;
	height:300px;
}
.daysTip{
	display:block;
	font-size:14px;
	margin-top:20px;
	color: #b4b4b4;
}
.uploadBtns{
	height:40px;
	width:800px;
	position:relative;
}
#SubmitVideoMessage{
	display: none;
	width:80px;
	height:40px;
	right:0;
	color:white;
	background-color:#F04124;
	border-radius:3px;
	border:none;
	position:absolute;
}
