<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qcys.mapper.AdverMapper">
    <select id="addAdver" parameterType="com.qcys.pojo.Adver">
        INSERT INTO AdverTb (adverAddress, adverMarketPrice, adverImage, adverNumber, adverDescribe, adverSetUp)
        VALUES (#{adverAddress}, #{adverMarketPrice}, #{AdverImage}, #{adverNumber}, #{adverDescribe}, #{adverSetUp})
    </select>
    <select id="adverCount" resultType="java.lang.Long">
        SELECT  count(*) from AdverTb
    </select>
</mapper>